html, body{
    margin: 0; padding: 0; width: 100%;
    height: 100%;
    overflow-x: hidden !important;
  }
body {
    background-color: #FBFADA;
    color: #436850;
}
/* Hero */
#hero {
    background-color: #12372A;
    color: #FBFADA;
    font-family: "Roboto", sans-serif;
    height: 100vh;
}
.flex-container {
    display: flex;
    flex-direction: column;
    gap:0;
    justify-content: center;
    align-items: center;
    padding-top:15%
}
h1 {
    font-family: "Fraunces", serif;
    margin-top:0;
    margin-bottom: 0;
    font-size: 130px;
    letter-spacing: 0.5rem;
}
#hero h2{ 
    font-size: 53px;
    margin-top: 0;
    margin-bottom: 0;
}
p {
    font-size: 24px;
    margin-top: 15px;
}

/* About me */
#aboutme {
    height: 50vh;
    font-family: "Roboto", sans-serif;
}
.grid-container {
    display: grid;
    grid-template-columns: minmax(0,100px) 550px minmax(0,100px) 550px minmax(0,100px);
    max-width: 1400px;
    margin-top:200px;
    margin-left: auto;
    margin-right: auto;
}
.grid-container img {
    border-radius: 50%;
}
#aboutme h2 {
    font-size: 40px;
    margin:0;
    font-family: "Fraunces", serif;
}
#aboutme li {
    font-size: 28px;
}
.grid-container div{
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 40px auto;
}
.grid-container img {
    grid-area: 1 / 1 / 1 /2;
}
#aboutme h2{
    padding-left:40px;
}
.grid-container ul {
    grid-area: 2 / 2; 
}
.education {
    grid-column:2;
}
.Skills {
    grid-column:4;
}
#aboutme .flex-container3 {
    margin:0;
}
.expirience {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 40px auto;
    width: 550px;
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;
}
.expirience h2 {
    padding-left: 15px;
}
.expirience img {
    grid-area: 1 / 1 / 1 /2;
    border-radius: 50%;
}
.expirience ul {
    grid-area: 2 / 2; 
}
#aboutme li {
    list-style: none;
}

/* Projects */
#projects {
    height: 80vh;
}
.flex-container1 {
    display: flex;
    max-width: 1400px;
    gap: 3rem;
    justify-content: space-between;
}
.flex-container2 {
    background-color: #436850;
    color: #FBFADA;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    justify-content: center;
    border: 5px solid #436850;
    border-radius: 5px;
}
.flex-container2 h2{
    align-self: center;
}
.dugme {
    height: 100px;
    background-color: #FBFADA;
    margin: 50px;
    color:#436850;
    display: flex;
    justify-content: center;
    align-items: center;   
    transition: 0.5s;
    cursor: pointer;
    border-radius: 5px;
}
.dugme p {
    font-size: 30px;
}
.dugme:hover {
    background-color: #dadacc;
}
.flex-container3 {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

/*Contact me*/
#contact .flex-container3 {
    margin-top:0;
    margin-bottom: 50px;
}
.circle {
    width: 400px;
    height: 400px;
    background-color: #436850;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#FBFADA;
    
}
.circle p {
    margin:5px;
    font-size: 28px;
}

/*Footer*/
footer {
    background-color: #436850;
    color:#FBFADA;
    height: 200px;
    font-size: 24px;
}
footer p {
    margin: 0;
}
.header {
    font-weight: bold;
    margin-bottom: 10px;
}
.grid-container1 {
    display: grid;
    grid-template-columns: minmax(0, 400px) minmax(50px, 400px) minmax(0, 400px) minmax(100px, 400px) minmax(0, 400px);
    grid-template-rows: auto;
}
.copyright {
    grid-area: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-container4 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 3rem;
    grid-area: 1 / 4;
}
.links a {
    color:#FBFADA;
}

/*Responsivnes*/
@media (max-width: 1330px)
{
    #projects {
        height: auto;
        margin-bottom:20px;
    }
    .flex-container1{
        flex-direction: column;
    }
}
@media (max-width: 1040px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .grid-container div{
        grid-template-columns: 150px minmax(300px, 450px);
    }
    .expirience {
        margin-top:10px;
        padding-right: 40px;
    }
    #hero {
        height: 80vh;
    }
}
@media (max-width: 870px) {
    .grid-container1 {
        grid-template-columns: 1fr 2fr;
    }
    .copyright {
        grid-area: 1 / 1;
    }
    .flex-container4{
        grid-area: 1 / 2;
    } 
}
@media (max-width: 450px) {
    h1 {
        font-size: 5rem;
    }
    #hero h2{ 
        font-size: 3rem;
    }
    #projects .flex-container3 {
        margin-top: 350px;
    }
    #aboutme li {
        width: min-content;
    }
    .grid-container div, .expirience{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #aboutme {
        height: 150vh;
    }
}
