.garamond {
    font-family: "EB Garamond", serif;
}
.roboto {
    font-family: "Roboto", sans-serif;
}
body {
    background-color: #FFF6E9;
}
.grid-container {
    display: grid;
    grid-template-columns: 8fr 16fr 18fr 8fr 9fr;
    grid-template-rows: 8fr 30fr 60fr 10fr 5fr 5fr 15fr;
    max-height: 900px;
}
.picture {
    border-radius: 10%;
    background-color: black;
    grid-area: 2 / 2 / 7;
    order: 1;
}
.heading {
    grid-area: 3 / 3 / 3 / 5;
    padding-left: 50px;
}
.podnaslov{
    font-size: 31px;
    margin-bottom: 10px;
    color:#40A2E3;
}
h1 {
    font-size: 70px;
    margin-top:0;
    color: #40A2E3;
}
.blue {
    background-color: #40A2E3;
    border-radius: 7% 7% 0 0 ;
    grid-area: 4 / 1 / -1 / -1; 
}
.paragraph {
    grid-area: 4 / 3;
    padding-left: 50px;
    color: #FFF6E9;
    font-size: 24px;
}
#about-me {
    background-color: #40A2E3;
    padding-top:50px;
    color: #FFF6E9;
}
.grid-container2 {
    display: grid;
    grid-template-columns: 5fr 25fr 39fr 70fr 70fr;
    grid-template-rows: 8fr 5fr;
    max-height: 550px;
    gap:1rem;
}
.belgrade{
    width: 350px;
    grid-area: 1 /2;
    border-radius: 10%;
}
.school{
    width: 350px;
    grid-area: 2 / 2;
    border-radius: 10%;
}
.flex {
    display: flex;
    align-items: center;
    font-size: 24px;
}
.paragraph1 {
    grid-area: 1 / 3 / 1 / 4;
}
.paragraph2 {
    grid-area: 2 / 3 / 2 / 4;
    padding-right:6em ;
}
.white {
    grid-area: 1 / 4 / -1 / -1;
    background-color: #FFF6E9;
    color: #40A2E3;
    border-radius: 20% 0 0 0;
    display:flex;
    flex-direction: column;
    justify-content: right;
}
h2{
    font-size: 31px;
    margin-bottom: 0;
}
.white p{
    font-size: 24px;
    max-width: 350px;
}
.white li {
    font-size: 24px;
}
.ticket {

    grid-area: 1 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:5px;
}
.ticket img {
    width: 350px;
}